<app-toolbar></app-toolbar>
<ion-content>
  <ion-list>
    <!-- Botón principal para Escanear Código QR -->
    <ion-button fill="clear" (click)="takePhoto()"> 
      <ion-card>
        <ion-card-header>
          <ion-card-title>Code QR</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Escanear Código QR
        </ion-card-content>
      </ion-card>
    </ion-button>

    <ion-button fill="clear" routerLink="/despacho"> 
      <ion-card>
        <ion-card-header>
          <ion-card-title>Despacho</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ver productos por despachar
        </ion-card-content>
      </ion-card>
    </ion-button>
    
    <ion-button fill="clear" routerLink="/ingreso"> 
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ingreso</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ver productos ingresados
        </ion-card-content>
      </ion-card>
    </ion-button>

    <ion-button fill="clear" routerLink="/historial">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Historial</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Historial de productos despachados e ingresados
        </ion-card-content>
      </ion-card>
    </ion-button>
  </ion-list>
</ion-content>

<app-footer></app-footer>
